img {
  width: 100%;
  height: 100%;
}

body.disable {
  overflow-y: hidden;
}

%no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%no-select:focus {
  outline: none !important;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%header-icon {
  @extend %flex-center;

  color: $color-blue-3;
  font-size: 25px;

  @include breakpoint(lg) {
    font-size: 30px;
  }
}

%input-icon {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  font-size: 22px;
  color: $color-gray-9;
}

%form-input {
  outline: 0;
  width: 100%;
  height: 42px;
  padding: 8px 10px;
  border-radius: 50px;
  line-height: 1.6;
  border: 1px solid $color-blue-5;
  -webkit-appearance: none;
}

%form-submit {
  background-color: $color-blue-5;
  color: $color-white-0;
  padding: 14px 17px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

%form-box {
  position: relative;

  i {
    @extend %input-icon;
  }

  input[type="text"],
  input[type="password"] {
    @extend %form-input;
    padding-left: 45px;
  }
}
