img {
  width: 100%;
  height: 100%;
}

body.disable {
  overflow-y: hidden;
}

section {
  width: 100%;
  max-width: $section-max-width;
  margin: 0 auto;
}

%sections-gap {
  background-color: $color-alpha-black-0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > section {
    background-color: $color-white-2;
  }
}

%mobile-max-width {
  max-width: $mobile-max-width;
  margin: 0 auto;

  @include breakpoint(md) {
    max-width: unset;
  }
}

// no select
%no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%no-select:focus {
  outline: none !important;
}

// flex center
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// header-icon
%header-icon {
  @extend %flex-center;

  color: $color-blue-1;
  font-size: 2.5rem;
}

// default button
%default-button {
  background-color: $color-blue-0;
  color: $color-white-0;
  border-radius: 7px;
  padding: 12px 16px;
  cursor: pointer;
}

%default-title {
  color: $color-blue-2;
  font-size: 1.9rem;
  font-weight: 900;
  font-family: inherit;
  padding: 1rem 0;
}

// form submit
%form-submit {
  background-color: $color-blue-3;
  border-radius: 0.5rem;
  color: $color-white-0;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 10px 40px;
  width: 100%;
  cursor: pointer;
}

// form input
%form-input {
  background-color: $color-white-0;
  color: $color-gray-3;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-appearance: none;

  @include breakpoint(md) {
    font-size: 1.3rem;
  }
}

// form box
%form-box {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 2rem;
  border: 1px solid $color-blue-3;

  i {
    @extend %flex-center;
    color: $color-gray-8;
    font-size: 2rem;
    width: 5rem;
  }

  input[type="text"],
  input[type="password"] {
    @extend %form-input;
    border-radius: inherit;
  }
}

// cards container
%cards-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 2rem 4rem;
  grid-gap: 3rem 2rem;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;

    grid-gap: 3rem;
    padding: 2rem 5rem;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
