img {
  width: 100%;
  height: 100%;
}

body.disable {
  overflow-y: hidden;
}

%no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%no-select:focus {
  outline: none !important;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%header-icon {
  @extend %flex-center;
  @extend %no-select;

  color: $color-blue-3;
  cursor: pointer;
  font-size: 25px;
}
