.main__article {
  background-color: $color-white-2;

  // container
  .article__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: $section-max-width;
    margin: 0 auto;
    width: 100%;

    padding: 3rem 1rem;

    @include breakpoint(md) {
      padding: 3rem 2rem;
    }

    @include breakpoint(lg) {
      flex-direction: row;
    }
  }

  // content
  main.article__content {
    @extend %mobile-max-width;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    // solved code examples width issues
    overflow-x: hidden;

    > article,
    > section {
      background-color: $color-white-0;
      color: $color-gray-2;

      padding: 1rem 1rem 2rem;
      border-radius: 1rem;
      font-size: 1.3rem;

      @include breakpoint(sm) {
        padding: 1rem 2rem 3rem;
        font-size: 1.5rem;
      }
    }
  }

  // post
  .article__post {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    // title
    .article__title {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 2rem 1rem;

      border-bottom: 1px solid $color-white-4;

      @include breakpoint(sm) {
        font-size: 2rem;
      }
    }

    // info
    .article__info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;

      padding: 1rem 0;
      font-size: 1.1rem;

      color: $color-gray-4;

      i {
        color: $color-gray-6;
        font-size: 1.3rem;
        margin: 0.5rem;
      }

      a {
        color: $color-gray-2;
        font-weight: 500;

        &:hover {
          color: $color-blue-3;
        }
      }
    }

    // image
    .article__image {
      img {
        border-radius: 0.5rem;
      }
    }

    // contents

    // heading
    h2 {
      color: $color-gray-0;

      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 1rem;

      @include breakpoint(sm) {
        font-size: 2rem;
      }
    }

    // texts
    p {
      line-height: 2;
    }

    // links
    a {
      color: $color-blue-2;

      &:hover {
        color: $color-blue-3;
      }
    }

    // lists
    ul {
      font-size: 1.4rem;
      direction: ltr;

      li {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        &::before {
          content: '';
          display: inline-block;
          padding: 2px;
          border-radius: 50%;
          background-color: $color-pink-0;
        }
      }
    }

    // code example, output
    .code-example,
    .code-output {
      direction: ltr;
      border: 1px solid $color-gray-8;
      border-radius: 5px;
      padding: 1rem;
      margin: 1rem 0;
      line-height: 1.5;
    }

    // example
    .code-example {
      font-size: 1.2rem;
      white-space: pre;
      overflow-x: auto;

      // only display texts
      > * {
        display: none;
      }
    }

    // inputs inside code output
    .code-output input {
      color: $color-gray-3;
      border: 1px solid $color-gray-7;
      border-radius: 4px;
      font-family: inherit;
      font-size: 1.2rem;
      padding: 3px 5px;
      margin: 0.5rem 0;
      min-width: 150px;

      &[type='submit'] {
        cursor: pointer;
        border-radius: 2px;
        padding: 0.5rem;
        color: $color-gray-1;
        border: 1px solid $color-white-2;

        &:hover {
          color: $color-blue-3;
          border: 1px solid $color-white-3;
        }
      }
    }
  }

  // sidebar
  .article__sidebar {
    @extend %mobile-max-width;
    min-width: 250px;
    width: 100%;

    border: 1px solid blue;

    @include breakpoint(lg) {
      width: unset;
    }
  }
}
