//? colors
// black
$color-black-0: #000000;
$color-black-1: #111111;

$color-alpha-black-0: #00000013;
$color-alpha-black-1: #0000004d;
$color-alpha-black-2: #0000005c;
$color-alpha-black-3: #00000066;
$color-alpha-black-4: #00000099;
$color-alpha-black-5: #000000cc;
$color-alpha-black-7: #ffffff36;

$color-shadow-0: #00000022;
$color-shadow-1: #a5a8b14d;

// gray
$color-gray-0: #2e2e2e;
$color-gray-1: #343a40;
$color-gray-2: #464749;
$color-gray-3: #6c757d;
$color-gray-4: #6d6d6d;
$color-gray-5: #7c7d7e;
$color-gray-6: #9e9e9e;
$color-gray-7: #b6b3b3;
$color-gray-8: #cccccc;

// blue
$color-blue-0: #654efe;
$color-blue-1: #654fef;
$color-blue-2: #6560d1;
$color-blue-3: #5442ca;
$color-blue-8: #f5f8fb;

$color-alpha-blue-0: #5442cabb;

// white
$color-white-0: #ffffff;
$color-white-1: #f6f6f6;
$color-white-2: #f3f3f3;
$color-white-3: #e5e5e5;
$color-white-4: #d3d3d3;

// green
$color-green-0: #29ca4a;

//pink
$color-pink-0: #ec406a;

//? sizes
// global
$section-max-width: 1230px;
$mobile-max-width: 500px;
$modal-max-width-login: 400px;
$modal-max-width-account: 600px;

// heading
$heading-min-height: 500px;
$heading-max-height: 900px;

// header
$header-height: 65px;
// navbar
$navbar-mobile-width: 200px;
// shop
$shop-width: 339px;
// toogle
$toggle-icon-height: 2px;
$toggle-icon-width: calc($toggle-icon-height * 9);
// header constants
$toggle-icon-gap-neg: calc($toggle-icon-height * -3);
$toggle-icon-gap-pos: calc($toggle-icon-height * 3);

// card
$card-icon-size: 40px;

//? other values
$transition-0: 0.3s;
$transition-1: 0.5s;
