//? colors
// black
$color-black-0: #000000;
$color-black-1: #0000004d;
$color-black-2: #0000005c;
$color-black-3: #00000066;
$color-black-4: #111111;
$color-black-5: #222222;

// gray
$color-gray-0: #2e2e2e;
$color-gray-1: #434343;
$color-gray-2: #464749;
$color-gray-3: #343a40;
$color-gray-4: #6c757d;
$color-gray-5: #6d6d6d;
$color-gray-6: #7c7d7e;
$color-gray-7: #8e8e8e;
$color-gray-8: #9e9e9e;
$color-gray-9: #cccccc;

// blue
$color-blue-0: #5442cad4;
$color-blue-1: #654efe40;
$color-blue-2: #654efe;
$color-blue-3: #654fef;

// white
$color-white: #ffffff;

//? sizes
