.course__cards {
  @extend %cards-container;

  .course__card {
    background-color: $color-white-0;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;

    box-shadow: 0 2px 8px $color-shadow-0;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: 0 6px 20px $color-shadow-1;
      transform: translateY(-4px);

      // card__header card__discount
      .card__discount {
        transform: rotate(0);
      }
    }

    @include breakpoint(md) {
      max-width: none;
    }
  }

  .card {
    // card header
    &__header {
      position: relative;
    }

    // card image
    &__image img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }

    // card icons
    &__icons {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      position: absolute;
      top: 15px;
      right: 15px;

      .icon {
        transition: all 0.2s ease-in-out;
        border-radius: 100%;
        background-color: $color-alpha-black-2;

        &:hover {
          background-color: $color-alpha-black-4;
          transform: scale(1.2);
        }
        // all of card__header icons
        i {
          @extend %flex-center;
          width: $card-icon-size;
          height: $card-icon-size;
          color: $color-white-0;
          font-size: 1.6rem;
          cursor: pointer;
          text-align: left;
        }
      }
    }

    // card discount
    &__discount {
      position: absolute;
      left: -10px;
      top: -10px;
      width: 54px;
      height: 54px;
      font-size: 11px;
      font-weight: 400;
      border-radius: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-image: url("/assets/images/discount.png");
      color: $color-white-2;

      transition: all 0.3s;
      transform: rotate(-30deg);

      .percent {
        font-size: 13px;
        line-height: 1;
      }
    }

    // card body
    &__body {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      // all links inside card
      a {
        color: $color-gray-2;

        &:hover {
          color: $color-blue-5 !important;
        }
      }
    }

    // card title
    &__title {
      height: 50px;
      padding: 1rem;

      // course link
      a {
        font-weight: 400;
        font-size: 1.4rem;

        @include breakpoint(md) {
          font-size: 1.3rem;
        }
      }
    }

    // card details
    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .card__rating {
        direction: ltr;
        overflow-x: hidden;
        background-image: url("/assets/icons/star-empty.svg");
        height: 18px;
        width: 90px;

        .rating {
          background-image: url("/assets/icons/star-fill.svg");
          height: 100%;
        }
      }

      .card__teacher {
        i {
          color: $color-gray-8;
          vertical-align: bottom;
          font-size: 18px;
        }
        // teacher profile
        a {
          color: $color-gray-8;
        }
      }
    }

    // footer
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
      border-top: 1px solid $color-gray-9;
      font-size: 14px;

      color: $color-gray-8;
    }

    &__students {
      i {
        font-size: 20px;
        vertical-align: bottom;
      }
      span {
        color: $color-gray-5;
        margin: 0 5px;
      }
    }

    &__price {
      display: flex;

      .price {
        position: relative;
        padding: 5px 0;
        background-color: $color-white-0;
      }

      .discount {
        padding: 5px 10px;
        border-radius: 3px;
        font-weight: 400;
        color: $color-white-0;
        background-color: $color-green-0;
      }

      // discount 0, 100
      .discount:not(:empty) + .price {
        color: $color-gray-8;
        padding: 5px 10px;

        &::before {
          content: " ";
          position: absolute;
          top: calc(50% - 5px);
          right: -4px;
          height: 10px;
          width: 10px;
          transform: rotate(45deg);
          background-color: $color-white-0;
        }

        &::after {
          content: "";

          position: absolute;
          left: 3px;
          top: 47%;

          width: 85%;
          height: 1px;
          background: #6d6d6d;

          transform: rotate(-10deg);
        }
      }
    }

    // free
    &__price.free {
      .discount {
        color: $color-gray-4;
        background-color: transparent;
        padding: 5px 0;
      }

      .price::before {
        display: none;
      }
    }
  }
}
