.course__cards {
  @extend %cards-container;

  .course {
    &__card {
      background-color: $color-white-0;
      border-radius: 10px;
      max-width: 450px;
      margin: 0 auto;

      box-shadow: 0 2px 8px $color-shadow-0;
      transition: transform 0.3s ease;

      &:hover {
        box-shadow: 0 6px 20px $color-shadow-1;
        transform: translateY(-4px);
      }

      @include breakpoint(md) {
        max-width: none;
      }
    }

    &__image {
      position: relative;

      img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }

      .add-to-cart {
        @extend %flex-center;
        position: absolute;
        top: 15px;
        right: 15px;

        width: $card-icon-size;
        height: $card-icon-size;
        color: $color-white-0;
        font-size: 1.6rem;
        border-radius: 100%;
        background-color: $color-alpha-black-2;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $color-alpha-black-4;
          transform: scale(1.3);
        }

        i {
          margin-left: 3px;
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 1rem 2rem;

      a {
        color: $color-gray-2;

        &:hover {
          color: $color-blue-5;
        }
      }
    }

    &__name {
      height: 45px;

      a {
        font-weight: 400;
        font-size: 1.4rem;

        @include breakpoint(md) {
          font-size: 1.3rem;
        }
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .course__rating {
        direction: ltr;
        background-image: url("/assets/icons/star-empty.svg");
        height: 18px;
        width: 90px;

        .rate {
          background-image: url("/assets/icons/star-fill.svg");
          height: 100%;
        }
      }

      .course__teacher {
        i {
          color: $color-gray-8;
          vertical-align: bottom;
          font-size: 18px;
        }
        .treacher__name {
          color: $color-gray-9;
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      border-top: 1px solid $color-gray-9;
      font-size: 15px;

      color: $color-gray-8;
      .course__students {
        i {
          font-size: 20px;
          vertical-align: bottom;
        }
        span {
          color: $color-gray-5;
          margin: 0 5px;
        }
      }
    }
  }
}
