.login-modal {
  z-index: 100;
  // position
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // animation
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;

  // box
  .login__box {
    z-index: 105;
    position: relative;
    background-color: $color-white-0;
    overflow: hidden;

    border-radius: 1rem;
    margin: 5vh auto;

    max-width: $modal-max-width;

    @include breakpoint(sm) {
      margin: 10vh auto 0 auto;
    }
  }

  // header
  .login__header {
    background-color: $color-white-1;
    padding: 15px 30px;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .login--close {
      cursor: pointer;
      color: $color-gray-4;

      i {
        vertical-align: middle;
      }
    }
  }

  // content
  .login__content {
    padding: 20px 25px;

    // form
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding-bottom: 2rem;

      label {
        color: $color-gray-3;
        font-size: 1.4rem;
      }
    }

    // box
    .form-box {
      @extend %form-box;
    }

    // options
    .form-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      // remember me
      label {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1.2rem;

        input[type="checkbox"],
        & {
          cursor: pointer;
        }
      }

      // lost password
      a {
        font-size: 1.2rem;
        color: $color-gray-1;

        &:hover {
          color: $color-blue-1;
        }
      }
    }

    // submit
    .form-submit {
      @extend %form-submit;
    }

    // register
    .content__register {
      font-size: 1.2rem;
    }
  }

  .screen-overlay {
    z-index: 101;
    background-color: $color-alpha-black-5;
    top: 0;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
