section.post-comments {
  // header
  .comments__header {
    display: flex;
    align-items: center;
    gap: 2rem;

    height: 7rem;
    padding: 0 2rem;
    border-bottom: 1px solid $color-gray-8;

    // icon
    i {
      font-size: 2rem;
      color: $color-gray-7;
    }

    // title
    .comments__title {
      @extend %flex-center;

      height: 100%;
      font-size: 1.5rem;
      color: $color-gray-0;
      border-bottom: 2px solid $color-blue-2;
      margin-bottom: -2px;
      padding: 0 1rem;
    }
  }

  // list
  .comments__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 2rem;
    font-size: 1.3rem;
  }

  // comment
  .comments__comment {
    border: 1px solid $color-white-4;
    border-radius: 1rem;
    transition: box-shadow $transition-0;

    &:hover {
      box-shadow: 0 2px 3rem 0 $color-shadow-1;
    }

    // header
    .comment__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      color: $color-gray-2;

      @include breakpoint(sm) {
        flex-direction: row;
      }

      // image
      .comment__image {
        border-radius: 100%;
        overflow: hidden;
        width: 6rem;

        @include breakpoint(sm) {
          width: 4rem;
        }
        img {
          vertical-align: middle;
        }
      }

      // tag
      .author__tag {
        color: $color-white-0;
        font-size: 1.1rem;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
        white-space: nowrap;

        &.student {
          background-color: $color-green-1;
        }

        &.admin {
          background-color: $color-pink-0;
        }
      }

      // time
      .comment__time {
        color: $color-gray-5;

        white-space: nowrap;
      }

      // reply
      button.comment__reply {
        cursor: pointer;

        border: 1px solid $color-white-4;
        background-color: $color-white-0;
        color: $color-gray-5;

        margin-right: auto;

        font-family: inherit;
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;

        transition: all $transition-0;

        &:hover {
          color: $color-blue-3;
          border-color: $color-blue-2;
        }
      }
    }

    // text
    .comment__text {
      font-size: 1.3rem;
      line-height: 2;

      padding: 0 1rem 2rem;

      @include breakpoint(sm) {
        margin-right: 5rem;
      }
    }

    // reply
    .comment__reply:not(:empty) {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      padding: 0 1rem 2rem;

      @include breakpoint(lg) {
        padding: 0 2rem 2rem;
      }
    }
  }

  // pagination
  .comments__pagination {
    @extend %pagination;
  }

  // rules
  .comments__rules {
    padding: 1rem;
    margin-top: 1rem;

    .rules__title {
      font-size: 1.4rem;
      color: $color-gray-2;
    }

    ul {
      padding: 1rem 0;
      margin: 0 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      li {
        list-style-type: disc;
        color: $color-gray-3;
        line-height: 2;
      }
    }
  }

  // form
  .comments__form {
    margin: 1rem;
    padding: 1rem 1rem 2rem;
    background-color: $color-white-2;
    border-radius: 0.5rem;

    // title
    .form__title {
      color: $color-gray-3;
      font-size: 1.3rem;
      line-height: 2;
      padding: 1rem 0;
    }

    // mark
    .form__mark {
      color: $color-pink-0;
      padding: 0 0.5rem;
    }

    // form
    form,
    .form__box {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .form__box {
      gap: 0;

      @include breakpoint(lg) {
        flex-direction: row;
        gap: 1rem;
      }

      label {
        display: block;
        width: 100%;
      }

      input {
        margin: 1rem 0;
      }
    }

    // label for fields
    label {
      color: $color-gray-2;
      margin-top: 0.5rem;
      font-size: 1.4rem;
    }

    // name, email, text
    input,
    textarea {
      @extend %form-input;
    }

    // text
    textarea {
      resize: vertical;
    }

    // submit button
    .form-submit {
      @extend %form-submit;

      @include breakpoint(lg) {
        width: auto;
        margin-left: auto;
      }
    }
  }
}
