body {
  height: 500vh;
}

header {
  position: sticky;
  top: 0;

  background-color: $color-white-0;
  -webkit-box-shadow: 0 2px 4px $color-alpha-black-0;
  box-shadow: 0 2px 4px $color-alpha-black-0;

  .container {
    @extend %flex-center;
    @extend %no-select;
    padding: 10px 20px;
    transition: all 0.5s;

    @include breakpoint(sm) {
      max-width: 540px;
      margin: 0 auto;
    }

    @include breakpoint(md) {
      max-width: 920px;
      margin: 0 auto;
    }

    @include breakpoint(lg) {
      flex-direction: row-reverse;
      gap: 4rem;
      padding: 10px 15px;
      max-width: none;
      margin: 0;
    }
  }

  // logo
  .header__logo {
    @extend %flex-center;
    margin: 0 10px;
    img {
      height: 40px;
    }
  }

  // buttons
  .header__buttons {
    @extend %flex-center;
    margin-left: auto;
    gap: 25px;

    @include breakpoint(lg) {
      flex-direction: row-reverse;
      margin-left: 0;
    }

    // login-button
    .login-button {
      cursor: pointer;

      i {
        @extend %header-icon;
      }

      @include breakpoint(lg) {
        display: flex;
        gap: 10px;
        background-color: $color-blue-5;
        border-radius: 7px;
        padding: 12px 16px;

        i {
          color: $color-white-0;
          font-size: 1.5rem;
        }
      }

      .login-text {
        display: none;

        @include breakpoint(lg) {
          display: block;
          font-size: 1.2rem;
          font-weight: 400;
          color: $color-white-0;
        }
      }
    }

    // cart button
    .cart-button {
      cursor: pointer;

      i {
        @extend %header-icon;
        position: relative;

        .counter {
          @extend %flex-center;

          position: absolute;
          background-color: $color-gray-4;
          color: $color-white-0;
          border-radius: 50%;
          font-size: 8px;
          font-weight: 100;
          overflow: hidden;
          max-width: 2rem;
          word-wrap: break-word;
          padding: 5px;
          top: 70%;
          left: 50%;
        }
      }
    }

    .button__contents {
      // cart content
      .cart-content {
        // animation
        transition: all 0.5s;
        visibility: hidden;

        .cart-sidebar {
          background-color: $color-white-0;
          padding: 5rem 0;
          font-size: 1.2rem;
          color: $color-gray-6;
          text-align: center;
          z-index: 5;

          transition: all 0.5s;

          // position
          position: fixed;
          top: var(--navbar-mobile-height); // defined by javascript
          right: calc($shop-width * -1);
          width: $shop-width;
          bottom: 0;

          img {
            height: auto;
            width: 35px;

            max-width: 100%;
            vertical-align: middle;
          }
        }

        &.active {
          visibility: visible;

          .cart-sidebar {
            transform: translateX(calc($shop-width * -1));
          }
        }
      }
    }
  }
}
