body {
  height: 500vh;
}

header {
  position: sticky;
  top: 0;
  background-color: $color-white;

  -webkit-box-shadow: 0 2px 4px $color-alpha-black-0;
  box-shadow: 0 2px 4px $color-alpha-black-0;

  .container {
    @extend %flex-center;
    padding: 0 20px;
  }

  // logo
  .header__logo {
    @extend %flex-center;
    margin: 0 10px;
    img {
      height: 40px;
    }
  }

  // buttons
  .header__buttons {
    @extend %flex-center;
    padding: 10px 0;

    margin-left: auto;

    > * {
      width: $header-buttons-icons-size;
      height: $header-buttons-icons-size;

      cursor: pointer;
    }

    // login-button
    .login-button {
      @extend %header-icon;

      .login-text {
        display: none;
      }
    }

    // cart button
    .cart-button {
      @extend %header-icon;

      i {
        position: relative;

        .counter {
          @extend %flex-center;

          position: absolute;
          background-color: $color-gray-6;
          color: $color-white;
          border-radius: 50%;
          font-size: 8px;
          font-weight: 100;
          max-width: 2rem;
          overflow: hidden;
          text-align: center;
          padding: 5px;
          top: 70%;
          left: 50%;
        }
      }
    }

    // cart content
    .cart-content {
      display: none;
    }
  }
}
