.main-header .header__container .header__navbar {
  // mobile styles
  nav {
    width: $navbar-mobile-width;
    background-color: $color-blue-4;
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 6;

    // positions
    position: fixed;
    top: $header-height;
    right: calc($navbar-mobile-width * -1);
    bottom: 0;

    ul {
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem 3rem;
      gap: 2rem;

      li a {
        font-size: 1.5rem;
        font-weight: 300;
        color: $color-white-0;
        transition: color 0.2s;

        &:hover {
          color: $color-black-1;
        }
      }
    }

    hr {
      background-color: $color-white-0;
      height: 2px;
    }
  }

  .screen-overlay {
    z-index: 5;
  }

  &.active nav {
    transform: translateX(calc($navbar-mobile-width * -1));
  }

  @include breakpoint(lg) {
    margin-left: auto;

    nav {
      position: static;
      background-color: transparent;
      width: auto;
      overflow: hidden;

      ul {
        flex-direction: row;
        padding: 0;
        gap: 1rem;

        li {
          padding: 4px 5px;

          a {
            color: $color-gray-2;
            font-size: 1.2rem;
            font-weight: 600;
            &:hover {
              color: $color-blue-5;
            }
          }

          &.active {
            pointer-events: none;
            border-radius: 3px;
            border-bottom: 4px solid $color-blue-5;

            a:hover {
              color: $color-gray-2;
            }
          }
        }
      }

      hr {
        visibility: hidden;
      }
    }

    &.active {
      nav {
        transform: translateX(0);
      }

      .screen-overlay {
        display: none;
      }
    }
  }
}
