main.lost-password {
  @extend %sections-gap;

  .password__recover {
    padding: 4rem 1rem 10rem;

    // modal
    .password__modal {
      background-color: $color-white-0;
      border-radius: 5px;
      max-width: 600px;
      margin: 0 auto;
      box-shadow: 0 6px 20px $color-shadow-1;
    }

    // img
    .password__img {
      @extend %flex-center;
      padding: 4rem;

      img {
        width: 13rem;
      }
    }

    // text
    .password__text {
      padding: 1rem;
      color: $color-gray-2;
      font-size: 1.3rem;
      text-align: justify;
      line-height: 2;

      @include breakpoint(sm) {
        padding: 1rem 2rem;
      }
    }

    // form
    .password__form {
      padding: 1rem 1rem 3rem;

      @include breakpoint(sm) {
        padding: 1rem 2rem 3rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      label {
        font-size: 1.3rem;
        color: $color-gray-3;
      }

      .form-box {
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid $color-white-4;
        border-radius: 3px;
        box-shadow: 0 0 2px $color-alpha-black-1;

        // input text
        input[type="text"] {
          color: $color-gray-2;
          width: 100%;
          padding: 7px;
          padding-left: 5px;
          font-size: 1.6rem;
          font-weight: 300;
        }

        // input icon
        i {
          @extend %flex-center;
          font-size: 1.6rem;
          color: $color-gray-7;
          width: 3.2rem;
        }
      }
    }

    button[type="submit"] {
      @extend %default-button;
      font-size: 1.4rem;
      padding: 1rem 4rem;
    }
  }
}
