main.lost-password {
  @extend %sections-gap;
  // content
  .password__content {
    padding: 5rem 1rem;

    // modal
    .password__modal {
      background-color: $color-white-0;
      border-radius: 5px;
      max-width: $modal-max-width-account;
      margin: 0 auto;
      box-shadow: 0 6px 20px $color-shadow-1;
    }

    // img
    .password__img {
      @extend %flex-center;
      padding: 4rem;

      img {
        width: 13rem;
      }
    }

    // text
    .password__text {
      padding: 1rem;
      color: $color-gray-2;
      font-size: 1.3rem;
      text-align: justify;
      line-height: 2;

      @include breakpoint(sm) {
        padding: 1rem 2rem;
      }
    }

    // form
    .password__form {
      padding: 1rem 1rem 3rem;

      @include breakpoint(sm) {
        padding: 1rem 2rem 3rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      label {
        font-size: 1.3rem;
        color: $color-gray-3;
      }

      .form-box {
        @extend %form-box;
      }
    }

    button[type="submit"] {
      @extend %default-button;
      font-size: 1.4rem;
      padding: 1rem 4rem;
    }
  }
}
