main.not-found {
  @extend %sections-gap;

  // error
  .error {
    min-height: calc(100vh - $header-height);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 2rem 5rem;

    &-code {
      font-family: monospace;
      font-size: 12rem;
      color: $color-blue-3;
      line-height: 0.8;

      @include breakpoint(sm) {
        font-size: 14rem;
      }

      @include breakpoint(md) {
        font-size: 15rem;
      }

      @include breakpoint(xxxl) {
        min-height: calc(80rem - $header-height);
      }
    }

    &-message {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      p {
        font-size: 1.3rem;
      }

      .title {
        font-size: 1.4rem;

        @include breakpoint(sm) {
          font-size: 1.6rem;
        }

        @include breakpoint(md) {
          font-size: 1.8rem;
        }
      }
    }

    &-return {
      cursor: pointer;
      color: $color-blue-3;
      background-color: transparent;
      border: 2px solid $color-blue-3;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1.5rem 1.6rem;
      transition: all $transition-0;

      &:hover {
        color: $color-white-0;
        background-color: $color-blue-3;
      }
    }
  }
}
