main.about {
  @extend %sections-gap;
  // content
  .about__content {
    padding: 2rem;
    padding-bottom: 6rem;

    @include breakpoint(lg) {
      padding-bottom: 8rem;
    }

    // title
    .content__title {
      @extend %default-title;
      @extend %mobile-max-width;
    }

    // text
    .content__text {
      @extend %mobile-max-width;

      p {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 2.3;
        color: $color-gray-0;
        padding: 0.5rem 0;
        text-align: justify;

        @include breakpoint(lg) {
          font-size: 1.4rem;
          line-height: 2;
        }
      }
    }
  }
}
