main.accounts {
  @extend %sections-gap;

  // content
  .account__content {
    z-index: 1;
    padding: 12rem 2rem;

    // modal
    .account__modal {
      position: relative;
      border-radius: 5px;
      box-shadow: 0 6px 20px $color-shadow-1;
      background-color: $color-white-0;

      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 10rem 2rem 4rem;

      $wrapper-logo-size: 16rem;

      @include breakpoint(lg) {
        flex-direction: row;
        gap: 3rem;
      }

      // logo background
      &::before {
        content: '';
        width: $wrapper-logo-size;
        height: $wrapper-logo-size;

        position: absolute;
        top: calc(($wrapper-logo-size / 2) * -1);
        right: 0;
        left: 0;
        margin: auto;

        background-color: inherit;
        box-shadow: inherit;
        border-radius: 100%;
        z-index: -1;
      }

      // logo image
      &::after {
        $logo-size: calc($wrapper-logo-size - 4rem);
        content: '';
        position: absolute;
        top: calc(-1 * ($logo-size/2));
        right: 0;
        left: 0;
        width: $logo-size;
        height: $logo-size;
        margin: auto;
        background: url('/assets/images/accounts/accounts.png') $color-blue-1 center / cover no-repeat;
        border-radius: 100%;
      }
    }

    // register, login forms
    .account__register,
    .account__login {
      flex: 1;
      display: none;

      &.active {
        display: block;
      }

      // title
      .account__title {
        font-size: 2rem;
        font-weight: 400;
        color: $color-gray-3;
      }
      // form
      .account__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2.5rem 0;
      }

      // box
      .account__box {
        @extend %form-box;

        input[type='text'],
        input[type='password'],
        input[type='email'] {
          padding: 1rem;
          padding-left: 5px;
        }
      }

      // submit
      .account__submit {
        @extend %form-submit;
        border-radius: 5px;
        position: relative;
        padding: 1.3rem;

        i {
          display: flex;
          align-items: center;

          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;

          width: 5rem;
          padding-right: 1.6rem;
          transition: all $transition-0;
          border-top-left-radius: 3rem;
          border-bottom-left-radius: 3rem;
          background-color: $color-alpha-black-7;
        }

        &:hover i {
          border-radius: 0;
          width: 100%;
        }
      }

      // options
      .account__options {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        color: $color-gray-4;

        font-size: 1.1rem;

        @include breakpoint(sm) {
          font-size: 1.2rem;
        }

        // remember me
        label {
          @extend %remember-me;
        }

        // lost password
        a {
          color: $color-gray-2;

          &:hover {
            color: $color-blue-1;
          }
        }
      }

      // form-changer
      .account__form-changer {
        @extend %flex-center;
        background-color: $color-blue-8;
        padding: 1.5rem;
        font-family: inherit;
        font-size: 1.3rem;
        color: $color-gray-3;

        button {
          cursor: pointer;
          font-family: inherit;
          line-height: 1.15;
          background-color: unset;
          padding: 0.7rem 1rem;
          color: $color-blue-3;
          border-bottom: 1px dashed $color-blue-3;
        }
      }
    }

    // separator
    .account__separator {
      border: 1px solid $color-white-3;
    }

    // warnings
    .account__warnings {
      flex: 1;
      font-family: inherit;
      font-size: 1.2rem;

      b {
        color: $color-gray-1;
        font-weight: 400;
      }

      ul {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          list-style-type: disc;
          color: $color-gray-3;
          line-height: 2;
        }
      }
    }
  }
}
