main.courses {
  @extend %sections-gap;

  // courses products section
  .courses__products {
    display: grid;
    grid-gap: 3rem;
    padding: 4rem 2rem;
  }

  // courses products childs
  // options
  .products__options {
    @extend %mobile-max-width;

    background-color: $color-white-0;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;

    width: 100%;
    transition: all $transition-1;

    @include breakpoint(sm) {
      flex-direction: row;
      padding: 1.5rem 2rem;
    }
  }

  // cards
  .products__cards {
    padding: unset;

    @include breakpoint(md) {
      &.view-list {
        display: flex;
        flex-direction: column;

        .course__card {
          display: flex;
          flex-direction: row;
          margin: unset;
        }

        .card__image {
          line-height: 0;

          img {
            max-height: 24rem;
            border-top-left-radius: 0;
            border-bottom-right-radius: 1rem;
          }
        }

        .card__body {
          flex-grow: 1;
          height: 100%;
          padding: 1rem 0;

          .card__title {
            flex-grow: 1;
          }
        }
      }
    }
  }

  // products options childs
  .options__view {
    display: none;
    gap: 0.5rem;

    @include breakpoint(md) {
      display: flex;
    }

    .view-grid,
    .view-list {
      @extend %flex-center;
      color: $color-gray-2;
      border: 1px solid $color-shadow-0;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      cursor: pointer;

      &.active {
        border: unset;
        background-color: $color-blue-3;
        color: $color-white-0;
      }
    }

    i {
      font-size: 1.1rem;
      line-height: 0;
    }
  }

  // options order
  .options__order {
    position: relative;
    min-width: 20rem;
    height: 3.5rem;
    z-index: 1;

    @include breakpoint(sm) {
      margin-left: auto;
    }

    // selected item
    .order__selected {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      border: 1px solid $color-blue-3;
      padding: 1rem 1.5rem;
      border-radius: 3rem;

      cursor: pointer;

      transition: all $transition-0;

      &:hover {
        background-color: $color-blue-3;
        color: $color-white-0;

        i {
          color: $color-gray-8;
        }
      }

      .selected {
        font-family: inherit;
        font-size: 12px;
      }

      i {
        font-size: 1.3rem;
        color: $color-gray-2;

        transition: all $transition-0;
      }
    }

    // dropdown
    .order__dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: $color-white-0;
      box-shadow: 0 0 0.5rem $color-shadow-0;
      transition: all $transition-0;
      transform: translateY(-5rem);
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }

    // search
    .dropdown__search {
      width: 100%;
      padding: 5px 4px;

      input {
        font-family: inherit;
        font-size: 1.3rem;
        line-height: 2;
        border: 1px solid $color-gray-8;
        padding: 2px 5px;
        width: 100%;
      }
    }

    // options
    .dropdown__options {
      max-height: 24rem;
      overflow-y: auto;

      button {
        background-color: $color-white-2;

        font-size: 1.1rem;
        font-family: inherit;
        line-height: 2;

        text-align: right;

        padding: 0.5rem 1rem;
        width: 100%;

        &.selected {
          background-color: $color-white-4;
        }

        &:not(.selected):hover {
          cursor: pointer;
          background-color: $color-white-3;
        }
      }
    }

    &.open {
      // selected
      .order__selected {
        background-color: $color-blue-3;
        color: $color-white-0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        i {
          color: $color-gray-8;
          transform: rotate(180deg);
        }
      }

      // dropdown
      .order__dropdown {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // options search
  .options__search {
    @extend %search-box;
  }
}
