main.teacher {
  @extend %sections-gap;

  // info
  .teacher__info {
    padding-inline: 2rem;
  }

  // heading
  .teacher__heading {
    @extend %flex-center;
    padding: 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: $color-gray-1;
    border-bottom: 1px solid $color-gray-8;
  }

  // container
  .teacher__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 5rem 2rem;
    padding: 4rem 1rem;

    @include breakpoint(lg) {
      grid-gap: 7rem 2rem;
      grid-template-columns: 1fr 1.6fr;
    }
  }

  // photo
  .teacher__photo {
    @extend %flex-center;

    img {
      height: 12rem;
      width: 12rem;
      border: 0.1rem solid $color-white-0;
      outline: 1px solid $color-white-4;
      border-radius: 50%;
    }
  }

  // qoute
  .teacher__quote {
    display: flex;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid $color-gray-7;
    background-color: $color-shadow-1;

    span {
      flex: 1;
      font-size: 1.3rem;
      line-height: 1.8;
      color: $color-gray-2;

      @include breakpoint(md) {
        font-size: 1.2rem;
      }
    }

    i {
      color: $color-gray-7;
      font-size: 2.5rem;
      padding: 1rem;
    }
  }

  // intro
  .teacher__intro {
    color: $color-gray-1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
  }

  // links
  .teacher__links {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    // heading
    .links__heading {
      color: $color-gray-0;
      font-size: 1.4rem;

      display: flex;
      gap: 1rem;

      @include breakpoint(lg) {
        margin-top: -0.8rem;
      }

      &::before,
      &::after {
        content: '';
        border: 1px solid $color-gray-7;
        display: inline-block;
        margin: auto 0;
        height: 1px;
        flex: 1;
      }
    }

    // icons
    .links__icons {
      @extend %flex-center;
      gap: 3rem;

      i {
        font-size: 3rem;
        color: $color-blue-3;
      }
    }
  }
}
